// Base resets
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #F3F8FF;
  }

  ul, ol {
    list-style: none;
  }

  button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// Color Text
.text-primary { color: $text-primary; }
.text-secondary { color: $text-secondary; }
.text-tertiary { color: $tertiary-color; }
.text-quaternary { color: $quaternary-color; }

.text-success { color: $success; }
.text-warning { color: $warning; }
.text-danger { color: $danger; }

.text-dark { color: $secondary-color; }
.text-light { color: #ffffff; }

// Color Background
.bg-primary { background-color: $primary-color; }
.bg-secondary { background-color: $secondary-color; }
.bg-tertiary { background-color: $tertiary-color; }
.bg-quaternary { background-color: $quaternary-color; }

.bg-success { background-color: $success; }
.bg-warning { background-color: $warning; }
.bg-danger { background-color: $danger; }

.bg-white { background-color: #ffffff; }
.bg-black { background-color: #000000; }

.bg-gradient-primary { background: $primary-gradient; }
.bg-gradient-secondary { background: $secondary-gradient; }

.bg-glass {
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
  }

// Shadow
.shadow-xs { box-shadow: $shadow-xs; }
.shadow-sm { box-shadow: $shadow-sm; }
.shadow-md { box-shadow: $shadow-md; }
.shadow-none { box-shadow: none; }

// Border radius
.border-rad { border-radius: 10px; }

// debugging layout sizes
.debug-border { 
    border: 1px dashed rgba(248, 251, 255, 0.3);
    background-color: rgba(151, 16, 250, 0.18);
}