nav{
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    // background: rgba(255, 255, 255, 0.80);
    position: fixed;
    height: 65px;
    width: 100vw;
    top: 0;
    z-index: 2;
}

.limited-width{
    max-width: 1600px;
    width: 100%;
    padding: 0 126px;
}

body {
    overflow: hidden;
    margin-top: 145px;
}

.header {
    background: $secondary-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header-container {
    h1{
        max-width: 11em;
    }
    h2 {
        max-width: 34em;
    }
}

.showroom-container {
    margin-top: 145px;
}

.why-container {
    .img-container{
        padding: 12px;
        border-radius: 10px;
        background: #F3F4F6;
    }
    .blue-container .img-container{
        background: #DBEAFE;
    }
    > div > div > div{
        border-radius: 14px;
        border: 1px solid rgba(0, 0, 0, 0.10);
        background: #FFF;
    }
    .blue-container {
        border-radius: 14px;
        border: 1px solid #BEDBFF;
        background: rgba(239, 246, 255, 0.50);
    }
}
.search-box {
    min-width: 300px;
    max-width: 600px;
}
.channel-icon {
    width: 20px;
    height: 20px;
}
.channel-item-icon {
    padding-right: 12px;
}
.channel-name {
    font-weight: 500;
}
.go-back-icon {
    width: 2.4375rem;
    height: 2.4375rem;
    border-radius: 2.61163rem;
    border: 0.7px solid rgba(255, 255, 255, 0.40);
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.00) 0%, rgba(255, 255, 255, 0.20) 50%, rgba(0, 0, 0, 0.00) 100%);
    background-size: 300%;
    transition: background-position 0.4s ease;

}
.go-back-icon:hover {
    background-position: right;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.profile-card {
    width: 450px;
    height: 700px;
    border-radius: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.10);
}
.profile-icon {
    background-color: rgba(255, 255, 255, 0.20);
    border-radius: 50px;
}
 .status-online {
    background-color: lightgreen;
    border-radius: 50%;
    display: inline-block;
}
.status-offline {
    color: gray;
    border-radius: 50%;
}
.status-dnd {
    color: red;
    border-radius: 50%;
}