nav{
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    position: fixed;
    height: 65px;
    width: 100vw;
    top: 0;
    z-index: 2;
}

.limited-width{
    max-width: 1600px;
    width: 100%;
    padding: 0 14px;
}

main {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.body-container {
    margin-top: 145px;
}

.header {
    background: $secondary-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header-container {
    h1{
        max-width: 11em;
    }
    h2 {
        max-width: 34em;
    }
}

.showroom-container {
    margin-top: 145px;
}

.why-container {
    .img-container{
        padding: 12px;
        border-radius: 10px;
        background: #F3F4F6;
    }
    .blue-container .img-container{
        background: #DBEAFE;
    }
    > div > div > div{
        border-radius: 14px;
        border: 1px solid rgba(0, 0, 0, 0.10);
        background: #FFF;
    }
    .blue-container {
        border-radius: 14px;
        border: 1px solid #BEDBFF;
        background: rgba(239, 246, 255, 0.50);
    }
}



.status-online {
    background-color: lightgreen;
    border-radius: 50%;
    display: inline-block;
}
.status-offline {
    color: gray;
    border-radius: 50%;
}
.status-dnd {
    color: red;
    border-radius: 50%;
}

@media (min-width: 1200px) {
    .limited-width {
        padding: 0 126px;
    }
}