.hamburger-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
}
.hamburger-btn > img {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
}
.hamburger-btn:hover > img {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease;
}

.logo {
    border-radius: 12.5px;
    padding: 7.5px;
}

.logo > img {
    width: 25px;
    height: 25px;
}

.logo-label {
    padding-left: 12px;
    font-weight: 600;
}

.user-profile-container {
    border-radius: 1.25rem;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: rgba(255, 255, 255, 0.03);
    padding: 0.8125rem;
    gap: 12px;
}
.avatar-img {
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-width: 3px;
}
.avatar-img:hover {
    transform: scale(1.08);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.avatar-img:active {
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(255, 255, 255, 0.15);
    filter: brightness(1.2) saturate(1.2);
}

.user-name {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: -0.00938rem;
}
.user-status {
    font-size: 14px;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
}
.user-settings {
    // TODO: navrhujem zmneu width a height 1.2rem
    width: 1.2rem;
    height: 1.2rem;
    transition: transform 0.8s ease;
}
.user-settings:hover {
    transform: rotate(135deg)
}